<!DOCTYPE html>
<html lang="en">
    <head>
        <title>easyums - approve</title>
    </head>
    <body>
        <div style="margin: 14px;">
            <% if (!user) { %>
                <p>EASYUMS Authorization</p>
                <form class="form" action="/oauth2/login" method="POST">
                    <input type="hidden" name="uuid" value="<%=uuid %>">
                    <p>
                        <input type="text" name="username" placeholder="用户名/邮箱" />
                    </p>
                    <p>
                        <input type="password" name="password" placeholder="密码" />
                    </p>
                    <p>
                        <button type="submit" class="btn btn-success" name="action" value="1">登陆</button>
                    </p>
                </form>
                <p style="font-size: 14px;">没有账号？<span id="btn-register" style="cursor: pointer; text-decoration: underline; color: blue;">注册</span></p>
            <% } else { %>
                <p>欢迎回来，<%=user.username%>，[<%=client.name %>]正在向您请求以下权限：</p>
                <form class="form" action="/oauth2/approve" method="POST">
                    <input type="hidden" name="uuid" value="<%=uuid %>">
                    <ul>
                        <% askedScopes.forEach(function (item) { %>
                            <% var openid = item === 'openid'; %>
                            <% if (openid) { %>
                            <li style="display: none;">
                                <input id="scope_<%=item%>" name="scope_<%=item%>" checked type="checkbox" />
                            </li>
                            <% } else { %>
                            <li>
                                <input id="scope_<%=item%>" name="scope_<%=item%>" checked type="checkbox" />
                                <span><%=scopes[item]%></span>
                            </li>
                            <% } %>
                        <% }) %>
                    </ul>
                    <button type="submit" class="btn btn-success" name="action" value="1">同意</button>
                    <button type="submit" class="btn btn-danger" name="action" value="2">拒绝</button>
                </form>
            <% } %>
        </div>
        <script>
            const btnRegister = document.querySelector("#btn-register");
            btnRegister.addEventListener('click', function () {
                window.location.href = "/oauth2/register?" + window.location.search;
            });
        </script>
    </body>
</html>
